.header
    width: 100%
    display: flex
    column-gap: 20px
    align-items: center
    justify-content: flex-end

    border-bottom: 1px solid #C2C2C2
    padding: 24px 0
.children
    width: calc(585 / 1920 * 100%)
    & > *
        margin: 0
        padding: 0
        & > div
            margin: 0
            padding: 0
.logout
    width: 40px
    height: 40px
    & > svg
        width: 100px
.face
    width: 50px
    height: 50px
    border-radius: 50%
    background: url("https://fakeface.rest/thumb/view") no-repeat
    background-size: cover
