.input
    &__wrapper
        margin-top: 32px
    &__control
        display: flex
        align-items: center
        justify-content: space-between
        padding-left: 1em
        border-radius: 12px
        background: #F0F0F0
        border: none
        margin-top: 8px
        & > svg
            width: 40px
        & > input
            border: none
            background: none
            font-size: 18px
            color: #2D3436
            &::placeholder
                color: #2D3436
        &__label
            text-transform: uppercase
            font-size: 12px
            font-weight: 900
            color: #ADADAD
