.row
    display: grid
    grid-template-columns: repeat(5,1fr)
    place-items: center start
    height: 48px
    border-bottom: 1px solid #C2C2C2
    padding: 0 24px
    &:not(.head):hover
        background: #E1F3EA
    &.head
        background: #F1F1F1
.table
    &__button
        // background: #F1F1F1
.status
    color: #fff
    text-align: center
    border-radius: 16px
    width: 124px
    padding: 9px 0
    font-size: 12px
    font-weight: 900
.type
    display: flex
    align-items: center

.mark
    display: inline-block
    width: 1em
    height: 1em
    border-radius: 50%
    margin-right: 1em
.table
    &__button
        background: none
        border: none
        font-size: 18px
        font-weight: 500
        display: flex
        align-items: center
    &__buttonName
        margin-right: 1em
.createButton
    display: flex
    align-items: center
    color: #fff
    font-size: 18px
    font-weight: 600
    background: #7DB59A
    padding-right: 16px
    border-radius: 16px
    border: none
    @media screen and ( max-width: 1024px )
        padding-right: 0
        width: 48px
        height: 48px
    &__cross
        position: relative
        @media screen and ( max-width: 1024px )
            width: 100%
        & > svg
            @media screen and ( max-width: 1024px )
                width: 100%
                position: absolute
                top: 50%
                left: 45%
                transform: translate(-50%,-50%)

    &__title
        @media screen and ( max-width: 1024px )
            display: none

.line
    display: flex
    align-items: center
    justify-content: space-between

.title
    font-size: 36px
    font-weight: bold

.layout
    display: flex
    height: 100vh
.main
    // height: 100vh
    width: 100%
    @media screen and ( max-width: 1024px )
        padding: 0
.claims
    width: 100%
    padding: 0 56px 0 64px
    overflow-y: auto
.pagination
    position: absolute
    right: 3rem
    bottom: 0.5rem

    display: flex
    align-items: center
    justify-content: flex-end
    @media screen and ( max-width: 1024px )
        display: none

    & > ul
        display: flex
        align-items: center
        column-gap: 8px
        & > li
            list-style: none
            padding: 7px
            border-radius: 2px
            border: 1px solid #D9D9D9
            width: 32px
            height: 32px
            display: flex
            align-items: center
            justify-content: center
            cursor: pointer
        & > li[class="selected"]
            border: 1px solid #7DB59A
.block
    margin-left: 4rem
    max-width: 589px
.create
    &__controls
        margin-top: 3rem
        display: flex
        column-gap: 1.5rem
    &__cancel, &__create
        border-radius: 1rem
        width: 82px
        height: 48px
        border: none
        background: none
        font-size: 18px
        font-weight: bold
    &__cancel
        border: 1px solid #ADADAD
    &__create
        background: #7DB59A
        color: #fff
