.row
    display: grid
    grid-template-columns: repeat(5,1fr)
    place-items: center start
    height: 48px
    border-bottom: 1px solid #C2C2C2
    &:not(.head):hover
        background: #E1F3EA
    &.head
        background: #F1F1F1
.table
    &__button
        // background: #F1F1F1
